//Reset
@import "./base/reset";

//Componentes
@import "./components/navbar";

//Variables
@import "./abstracts/vars";

//Header
@import "./layouts/header";

//Footer
@import "./layouts/footer";

body {    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(219, 234, 243);
}

#gridindex {
    display: grid;
    grid-template-areas: 
    "header     header      header "
    "tiraimg    portada     portada"
    "tiraimg    aspirantes  aspirantes"
    "footer     footer      footer ";
    min-height: 140vh;
    grid-template-columns: 15% 1fr 0.5fr;
    grid-template-rows: 135px 50% auto auto;

    #portada {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: normal;    
        align-items: center;
        grid-area: portada;
        text-align: center;

        div {
            h2 {
                margin-top: 80px;
                font-size: 70px;
            }
        
            p {
                margin: 30px 0px;
                font-size: 26px;
                max-width: 65%;
                text-align: center;
                display: inline-block;
            }
        }
    }

    #aspirantes {
        display: flex;
        flex-wrap: wrap;
        grid-area: aspirantes;
        justify-content: space-evenly;
        margin-top: 30px;
        margin-bottom: 60px;
    
        .aspirante {
            width: 320px;
            height: 188px;
            margin: 20px;
            font-size: 24px;
            text-align: center;
            background-color: burlywood;
            box-shadow: $shadow;
            border-radius: 20px;
            border: $border;
        
            a {
                text-align: center;
                color: cadetblue;
                background-color: blanchedalmond;
                border-radius: 4px;    
            }
        
            p {
                margin: 20px;    
            }
        }
    }
}

#gridcursos {
    display: grid;
    grid-template-areas: 
    "header     header     "
    "tiraimg    maincursos"
    "tiraimg    maincursos"
    "footer     footer ";
    min-height: 140vh;
    grid-template-columns: 15% auto;
    grid-template-rows: 135px 50% auto auto;
}

#gridmision {
    display: grid;
    grid-template-areas:
    "header     header"
    "tiraimg    mainmision"
    "footer     footer";
    min-height: 140vh;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 135px auto auto;
}

#gridinversores {
    display: grid;
    grid-template-areas:    
    "header     header"
    "tiraimg    inversores"
    "footer     footer";
    min-height: 140vh;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 135px auto auto;
}

#mainInversores {
    grid-area: inversores;

    #inversores img {
        margin: 15px;
        border: $border ;
        border-radius: 10px;
        box-shadow: $shadow;
    
        #imginv1 {
            max-width: 90%;
            box-shadow: $shadow;
        }
    
        #imginv2 {
            max-width: 90%;
            box-shadow: $shadow;
        }
        
        #imginv3 {
            max-width: 90%;
            box-shadow: $shadow;;
        }
        
        #imginv4 {
            max-width: 90%;
            box-shadow: $shadow;;
        }
    }
}

#piloto1 {
    width: 40%;
    border-radius: 12px;
    box-shadow: $shadow;
}

#piloto2 {
    width: 40%;
    border-radius: 12px;
    box-shadow: $shadow;
}

#youtube {
    padding: 0 20px;
    border-radius: 250px;    
}

#tiraimg{
    grid-area: tiraimg;
    margin-left: 5px;
    background-image: url(../../assets/images/tirafull.jpg);
    background-size: contain;
    box-shadow: $shadow;
}

main {
    margin-top: 100px;
    margin-left: 50px;
    font-size: 26px;
    margin-bottom: 150px;
    max-width: 75%;
}

#mainmision {

    grid-area: mainmision;
    margin-top: 100px;
    /* font-size: 26px; */
    max-width: 75%;
}

#mainmision article a {
    padding: 0 10px;
    text-align: center;
    color: cadetblue;
    background-color: blanchedalmond;
    border-radius: 4px;
}

#mainmision article img {
    margin-right: 20px;
    border: $border;
}

#maincursos {
    grid-area: maincursos;
    margin-top: 90px;
    font-size: 26px;
    
    h2{
        font-size: 70px;
        text-align: center;
    }

    #cursos{
        display: flex;    
        flex-wrap: wrap;
        justify-content: center;

        .curso {
            max-width: 450px;
            margin: 40px;
            /* padding: 10px;
            font-size: 24px; */
            text-align: center;
            background-color: rgb(214, 236, 185);
            border: $border;
            box-shadow: $shadow;
            border-radius: 20px;    
            a {
                padding: 0 10px;
                text-align: center;
                color: cadetblue;
                background-color: blanchedalmond;
                border-radius: 4px;
            }
        }
    }

    #plancarrera {    
        max-width: 90%;
        box-shadow: $shadow;    
    }
}

#gridconsultas {
    display: grid;
    grid-template-areas: 
    "header     header"
    "tiraimg    consultas"
    "footer     footer";
    min-height: 140vh;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 135px auto auto;
}

#mainconsultas {
    grid-area: consultas;
    margin-right: 20px;
}

#imgLanding {
    width: 80%;
    border-radius: 12px;
    border: $border;
    box-shadow: $shadow;;
}

#fieldset {
    border-radius: 12px;
}

#formconsulta {
    padding: 12px;
}

@media screen and (max-width: 1100px) {

    header nav ul li {        
        font-size: 18px;
    }

    header {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .logoname {
        flex-direction: row-reverse;
    }

    #portada {
        flex-direction: column;    
    }

    #aspirantes {
        align-items: center;
    }

    footer {
        padding: 20px;
        justify-content: space-around
    }

    #gridindex #portada div h2 {
        margin-top: 80px;
        font-size: 49px;   
    }

    #gridindex #portada div p {
        font-size: 22px;   
    }

    #gridindex #aspirantes .aspirante {
        font-size: 18px;
        height: 132px;
    }

    #youtube {
        width: 65%;
        height: 65%;
    }

    #plancarrera {    
        width: 85%;        
    }

    .curso {
        font-size: 100%;
    }

    .curso h2{
        font-size: 70px;
    }

    #artmis1 {
        font-size: 75%;
    }

    #artmis2 {
        font-size: 75%;
    }

    #mainInversores {
        font-size: 20px;

         #inversores {
             img {
                width: 80%;
             }
        }
    }

    #mainconsultas {
        font-size: 105%;
    }

    #maincursos h2 {
        font-size: 46px;
    }

    #cursos {
        font-size: 70%;
    }
}

@media screen and (max-width: 568px) {

    header nav ul li a {        
        font-size: 8px;
    }

    #aspirantes {
        align-items: center;
    }

    footer {
        padding: 20px;
        justify-content: space-around
    }

    #gridindex #portada div h2 {
        font-size: 30px;   
    }

    #gridindex #portada div p {
        font-size: 16px;   
    }

    #gridindex #aspirantes .aspirante {
        font-size: 14px;
        height: 111px;
    }

    #plancarrera {
        width: 85%;        
    }

    #artmis1 {
        font-size: 50%;
    }

    #artmis2 {
        font-size: 50%;
    }

    #artmis1 a {
        font-size: 77%;
    }

    #mainInversores {
        font-size: 14px;
    }

    #mainconsultas {
        font-size: 60%;
    }

    #maincursos h2 {
        font-size: 36px;
    }

    #cursos {
        font-size: 40%;
    }
}